input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 5rem;
    height: 2rem;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 6px;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  label .label-text {
    position: absolute;
    top: 2px; 
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  label .label-text:first-child {
    left: 10%;
  }
  
  label .label-text:last-child {
    left: 90%;
  }
  
  input:checked + label {
    background: $secondary-color;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 5rem;
  }
  
  input:checked + label .label-text:first-child {
    left: 90%;
  }
  
  input:checked + label .label-text:last-child {
    left: 10%;
  }
  