@import './variables.scss';

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

  @mixin border-bottom {
    border-bottom: 1px solid grey;
  }

  @mixin background-svg {
    background-position: center;
    background-repeat: none;
    background-size: contain;
    background-color: $secondary-color;
    width: 80px;
    border-radius: 50%;
  }
  
  @mixin form-field {
    background-color: $form-fields;
    border: 1px solid grey;
    border-radius: 5px;
    margin: .5rem;
  }

  @mixin main-button {
        background-color: $secondary-color;
        color: white;
        border: none;
        border-radius: 5px;
  }
  