@import './variables.scss';

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

  @mixin border-bottom {
    border-bottom: 1px solid grey;
  }

  @mixin background-svg {
    background-position: center;
    background-repeat: none;
    background-size: contain;
    background-color: $secondary-color;
    width: 80px;
    border-radius: 50%;
  }