.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
}

.main {
    grid-area: main;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation"
    "main";
}


.widget-container-full, 
.widget-container-half {
    width: 95vw;
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 3rem 1fr;
        grid-template-areas:
        "header header"
        "navigation main";
    }

    .widget-container-full {
        width: 90vw;
    }
    
    .widget-container-half {
        width: 45vw;
    }

    .upper-container {
        display: grid;
    }

    .traffic, 
    .social {
        grid-column: 1 / span 2;
    }
}

@media (min-width: 1280px) {
    
    .members-container,
    .messages-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
          "members activity"
          "message settings";
    }
    
      .members {
        grid-area: members;
      }
    
      .activity {
        grid-area: activity;
      }
    
      .message {
        grid-area: message;
      }
    
      .settings {
        grid-area: settings;
      }
    

    .members,
    .message {
        border-right: 1px solid lightgray;
    }
}

