.header {
  grid-area: header;
}

.navigation {
  grid-area: navigation;
}

.main {
  grid-area: main;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "navigation" "main";
}

.widget-container-full, .widget-container-half {
  width: 95vw;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 3rem 1fr;
    grid-template-areas: "header header" "navigation main";
  }
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
  .main {
    grid-template-columns: 50%;
    grid-template-columns: 1fr;
  }
  .social {
    grid-template-columns: 1rem repeat(3, auto);
  }
}
@media (min-width: 1280px) {
  .traffic, .social {
    grid-column: 1/span 2;
  }
  .members,
  .message {
    border-right: 1px solid lightgray;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

.svg {
  width: 30px;
}

.title {
  font-size: 1rem;
  margin: 0.5rem;
  text-transform: uppercase;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 5rem;
  height: 2rem;
  background: gray;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 6px;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

label .label-text {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
}

label .label-text:first-child {
  left: 10%;
}

label .label-text:last-child {
  left: 90%;
}

input:checked + label {
  background: #7575cf;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 5rem;
}

input:checked + label .label-text:first-child {
  left: 90%;
}

input:checked + label .label-text:last-child {
  left: 10%;
}

.header {
  color: white;
}
.header__top-nav {
  display: grid;
  grid-template-columns: 1fr repeat(5, 3rem);
  grid-template-rows: 4rem;
  align-items: center;
  background-color: #7575cf;
}
.header__title {
  font-size: 1.5rem;
  margin: 1rem;
}
.header__side-border {
  border-left: 1px solid white;
  padding: 1.5rem 0;
  margin: 0;
}
.header__notification-alert {
  border: 2px solid greenyellow;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  padding: 0;
  margin: 0 0 25px 0;
}
.header__member-img {
  width: 40px;
  border-radius: 50%;
}
.header__student-name {
  font-size: 0.75rem;
  width: 5rem;
}

.navigation {
  background-color: #483d8b;
}
.navigation__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3rem;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
.navigation__nav-list-item {
  display: grid;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .navigation__nav-list-item {
    margin: 1rem;
  }
}

.main {
  display: grid;
}
.main__header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.main__headline {
  font-size: 1rem;
  margin: 0.5rem;
}
.main__tab {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: #F5F5F5;
}
.main__alert {
  background-color: #7575cf;
  color: white;
  margin: 1rem;
  padding: 0.5rem;
  width: 90%;
  border-radius: 5px;
}
.main__alert-banner {
  display: flex;
  justify-content: space-between;
  width: 99%;
}

.traffic {
  display: grid;
  border-bottom: 1px solid gray;
}
.traffic__nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3rem;
  gap: 10px;
  align-items: center;
  margin: 0 1rem;
}

.daily,
.mobile {
  border-bottom: 1px solid gray;
}

.social {
  display: grid;
  border-bottom: 1px solid gray;
}
@media screen and (min-width: 768px) {
  .social {
    grid-template-columns: repeat(3, 1fr);
  }
}
.social__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: #F5F5F5;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .social__container {
    grid-row: 2;
  }
}
.social__image-1, .social__image-2, .social__image-3 {
  background-color: #7575cf;
  fill: #FFFFFF;
  width: 50px;
  height: 50px;
  padding: 1rem;
  border-radius: 50%;
}
.social__platform {
  font-size: 1rem;
  color: #7575cf;
}
.social__stats {
  font-size: 2rem;
  font-weight: 100;
  color: gray;
}

.members__container,
.activity__container {
  display: grid;
  justify-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-bottom: 1px solid gray;
}
@media screen and (min-width: 768px) {
  .members__container,
  .activity__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.members__info-section,
.activity__info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .members__info-section,
  .activity__info-section {
    flex-direction: row;
  }
}
.members__profile-img,
.activity__profile-img {
  height: 50px;
  border-radius: 50%;
}
.members__text,
.activity__text {
  margin: 0.5rem;
}
@media screen and (min-width: 768px) {
  .members__text,
  .activity__text {
    margin: 1rem;
  }
}
.members__name,
.activity__name {
  text-align: center;
  margin: 0.5rem;
}
@media screen and (min-width: 768px) {
  .members__name,
  .activity__name {
    text-align: start;
    margin: 0;
  }
}

.message {
  border-bottom: 1px solid gray;
}
.message__container {
  display: grid;
  margin: 1rem;
}
.message__form {
  background-color: #F5F5F5;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem 0.5rem;
}
.message__form-area {
  background-color: #F5F5F5;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 3rem 0.5rem;
}
.message__button {
  background-color: #7575cf;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  margin: 1rem;
}
.message__button:hover {
  background-color: #483d8b;
}

#messageField {
  padding-top: 0.5rem;
}

.settings {
  display: grid;
}
.settings__form {
  background-color: #F5F5F5;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  color: gray;
  width: 95%;
}
.settings__toggle-1, .settings__toggle-2 {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.settings__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  margin: 1rem;
}
.settings__button-primary {
  background-color: #7575cf;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  margin: 0.5rem;
}
.settings__button-primary:hover {
  background-color: #483d8b;
}
.settings__button-cancel {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  margin: 0.5rem;
}
.settings__button-cancel:hover {
  background-color: darkgray;
}

#daily-chart,
#mobile-chart {
  margin: 1rem;
}/*# sourceMappingURL=styles.css.map */