@import './partials/viewports';
@import './partials/mixins';
@import './partials/variables';
@import './partials/global';
@import './partials/custom-toggle';

.header {
    color: white; 
   
     &__top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $secondary-color;
    }

    &__right-section {
        display: flex;
        align-items: center;
    }

    &__title {
        font-size: 1rem;
        margin: 1rem;
            @include tablet {
                font-size: 2rem;
            }
    }

    &__side-border {
        border-left: 1px solid white;
        padding: 1.5rem 0;
        margin: 0;
    }

    &__notification-svg {
        width: 25px;
        &:hover {
            transform: scale(1.1); 
        }
      }

    &__notification-alert {
        border: 2px solid greenyellow;
        border-radius: 50%;
        height: 2px;
        width: 2px;
        padding: 0;
        margin: 0 0 25px 0;
    }

    &__member-img {
        width: 40px;
        border-radius: 50%;
    }

    &__student-name {
        font-size: .75rem;
        width: 5rem;
    }

    &__items {
        margin: .5rem;
    }
}

.navigation {
    background-color: $main-color;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 3rem;
            @include tablet {
                grid-template-columns: 1fr;
                justify-content: center;
            } 
    }

    &__nav-list-item {
        display: grid;
        justify-content: center;
        align-items: center;
            @include tablet {
                margin: 1rem;
            }
    }
}

.main {
    &__header {
        display: flex;
        width: 90vw;
    }

    &__headline {
        font-size: 1rem;
        margin: 1rem;
    }

    &__tab {
        border-left: 1px solid gray;
        border-bottom: 1px solid gray;
        background-color: $form-fields;
        width: 100vw;
    }

    &__alert {
        background-color: $secondary-color;
        color: white;
        margin: 1rem;
        padding: .5rem;
        width: 90%;
        border-radius: 5px;
    }

    &__alert-banner {
        display: flex;
        justify-content: space-between;
        width: 99%;
    }
}

.traffic {
    display: grid;
    @include border-bottom;

    &__nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 3rem;
        gap: 10px;
        align-items: center;
        margin: 0 1rem;
    }

    &__nav-link-daily {
        background-color: greenyellow;
        color: white;
        border-radius: 10px;
        padding: .2rem 0;
        width: 100px;
        text-align: center;
    }
}

.daily,
.mobile {
    @include border-bottom;
}


.social {
    display: grid;
    @include border-bottom;
        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        background-color: $form-fields;
        border: 1px solid gray;
        border-radius: 5px;
        margin: 1rem;
        padding: 1rem;
        @include tablet {
            grid-row: 2;
            
        }
    }

    &__image-1,
    &__image-2,
    &__image-3 {
      @include background-svg;
    }

    &__platform {
        font-size: 1rem;
        color: $secondary-color;
    }

    &__stats {
        font-size: 2rem;
        font-weight: 100;
        color: gray;
    }
}

.members,
.activity  {

    &__container {
        display: grid;
        justify-items: center;
        justify-content: center;
        margin: 1rem;
        padding: 1rem;
        @include border-bottom;
            @include tablet {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
    }

    &__info-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet {
            flex-direction: row;
        }
    }

    &__profile-img {
        height: 50px;
        border-radius: 50%;
    }

    &__text{
        margin: .5rem;
            @include tablet {
                margin: 1rem;
            }
    }

    &__name {
        text-align: center;
        margin: .5rem;
            @include tablet {
                text-align: start;
                margin: 0;
            }
    }

    &__arrow {
        font-size: 2rem;
        color: gray;
    }
}

.message {
    @include border-bottom;

    &__container {
        display: grid;
        margin: 1rem;
    }

    &__form {
        @include form-field;
            padding: 1rem .5rem;
    }

    &__form-area {
        @include form-field;
            padding: 3rem .5rem;
    }

    &__button {
        @include main-button;
            padding: 1rem .5rem;
            margin: 1rem;
            &:hover {
                background-color: $main-color;
            }
    }
}

#messageField {
    padding-top: .5rem;
}

.settings {
    display: grid;

    &__form {
        @include form-field;
        padding: 1rem .5rem;
        color: gray;
        width: 95%;
    }

    &__toggle-1,
    &__toggle-2 {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
    }

    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        margin: 1rem;
    }

    &__button-primary {
        @include main-button;
        padding: 1rem .5rem;
        margin: .5rem;
        &:hover {
            background-color: $main-color;
        }
    }

    &__button-cancel {
        background-color: gray;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 1rem .5rem;
        margin: .5rem;
        &:hover {
            background-color: darkgray;
        }
    }
}

canvas {
    width: 90vw;
}

#traffic,
#daily-chart,
#mobile-chart {
    margin: 1rem;
    width: 90vw;
}